doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube 
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle
            nav
                ul
                    li
                        a(href="/") Home
                    //- pug파일에서 locals에 접근할 수 있음. 로그인 된 상태
                    if loggedIn
                        li 
                            a(href="/logout") Log Out 
                        //- 로그인 되어 있다 > loggedInUser값이 있다
                        //- middleware.js : res.locals.loggedInUser = req.session.user;로 할당
                        li 
                            a(href="/my-profile") #{loggedInUser.name}의 Profile
                    else
                        li
                            a(href="/join")  Join
                        li
                            a(href="/login")  Login 

                    li
                        a(href="/search") Search
                    li
                        a(href="/videos/upload") Upload Video
                        
        main
            block content
    include partials/footer
