include mixins/message

doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        //- link(rel="stylesheet" href="https://unpkg.com/mvp.css")

        //- https://cdnjs.com/libraries/font-awesome/6.4.2에서 복붙
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
        //- css파일들을 로딩하는 곳
        link(rel="stylesheet", href="/static/css/styles.css")
     
    body
        if messages.error
            +message("error", messages.error)
        if messages.info
            +message("info", messages.info)
        if messages.success
            +message("sucess", messages.success)
        include partials/header                   
        main
            //- 다른 모든 템플릿을 채울 수 있음
            block content
        include partials/footer
    //- 서버한테 assests풀더의 내용물을 /static 주소를 통해 공개하라는 것임
    //- script(src="/static/js/main.js") 
    //- watch에도 block scripts
    script(src="/static/js/main.js") 
    block scripts